################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet-customer-service/.vs/Customer/v15
/dotnet-customer-service/packages/*
/dotnet-customer-service/*/bin/
/dotnet-customer-service/*/obj/
